<!DOCTYPE html>
<html>
<body>

<form method="POST" action="classification">
    <input name="image_url">
    <select name="model">
    {% for model in models %}
        <option value="{{model}}">{{model}}</option>"
    {% endfor %}
    </select>
    <input type="submit">
</form>

</body>
</html>
