<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/main.css'>
</head>

<body>
    <h1>Welcome !</h1>
    <div class="square">
    <form method="POST" action="classification">
        <label>Enter URL:</label>
        <textarea placeholder="https://..." name="image_url"></textarea>
        <label class="model">Model name:</label>
        <div class="box">
            <select name="model">
                {% for model in models %}
                <option value="{{model}}">{{model}}</option>"
                {% endfor %}
            </select>
        </div>
    </div>
     <input class="submit_button" type="submit"></input>
    </form>
</body>

</html>



